body{
    background-color: #f7f9ff;
    font-family: Delius Swash Caps;
}

.App header {
   max-width: 20%;
   height: auto;
   margin-left: 520px;
}


.App-footer {
    color:#e87a7c;
    text-align: center;
    margin:30px 0;
    font-size:17px;
}

.App a{
    color:#587bef;
}