.Dictionary form {
  margin-top: 15px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  
}

.Dictionary .Results {
  margin-top: 27px;
  display: block;
  text-align: center;
}

.Dictionary h1 {
  font-size: 28px;
  color:#e87a7c;
  text-align: center;
 font-weight: bold;
}

.Dictionary h2 {
  color: #a5b6ef;
  margin-bottom: 5px;
}

.Dictionary h3 {
  color: #a5b6ef;
  font-weight: bold;
}

.Dictionary section {
  font-size: 20px;
  padding: 8px;
  border-radius: 6px;
 margin: 20px 0;
 
}

.Dictionary input {
  width: 25%;
  padding: 4px 2px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color:#333;
}

.Dictionary .hint {
  font-size: 16px;
  margin-top:5px;
  text-align: center;
}

.Dictionary li {
  font-family:Delius Swash Caps;
  font-size:18px;
}